.root{
-fx-background-image: url("resources/Images/background.jpg")
}

Button {
-fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color:  linear-gradient(brown,white); ;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
